  HTML { direction: rtl; }
  /*FONT { font: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial;}*/
  /*BODY { background: white url() fixed no-repeat 80% 50%; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; color:black; background-color: #FFFFFF; padding: 0px 0px; margin: 0px 0px; }*/
  TABLE { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt;}
  TD { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt;}

  .strongheaderclass  {font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 16pt;}
   
  H1 { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 16pt; font-weight: Bold; }
  H2 { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 13pt; font-weight: Bold; spacing: 0px; padding: 0px; margin: 0px;}
	
  A:link {text-decoration: none; color: BLACK}
  A:visited {text-decoration: none; color: BLACK}	
  A:hover {text-decoration: none; color: BLUE}
  
  .normaltext { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; }
  .grayedtext { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; color: #555555; }

 /* table in documents WEBDAV
 .columnlistheader { padding-left: 5px; border-right: 1px solid #D4D4D4; border-bottom: 1px solid #D4D4D4; }

 
  /* table active element cells\rows */

  /* table inactive element cells\rows */
 .tier  { background-color: #E8E8E8; foreground-color: #000000; border: 0px solid white; }
 .tiec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 3px; padding-bottom: 3px; }

  /* table information element cells\rows */
 .toer  { background-color: #F8F8F8; foreground-color: #000000; border: 0px solid white; padding: 0px; spacing: 0px; margin: 0px; }
 .toec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; margin: 0px; padding-bottom: 8px; padding-right: 0px; padding-left: 0px; padding-top: 8px; spacing: 0px; vertical-align: middle; }

  /* table folder elements cells\rows */
 .tfer  { background-color: #ECF3F8; foreground-color: #000000; border: 0px solid white; }
 .tfec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 3px; padding-bottom: 3px; }

  /* table wide folder elements cells\rows */
 .twfer  { background-color: #ECF3F8; foreground-color: #000000; border: 0px solid white; }
 .twfec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 3px; padding-bottom: 3px; }
	

 

  /* input components --- */




  .blanktable { width: 100%; }
    
  /* section specific code --- */

  /* mail page table --- */
  .mailmsgtable { width: 100%; border-bottom: 1px solid #646464; border-top: 1px solid #646464; }

  /* mail section - table active element cells\rows */
 .mailtaer  { background-color: #ECF3F8; foreground-color: #000000; border: 0px solid white; }
 .mailtaec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 1px; padding-bottom: 1px; }

  /* mail section - table inactive element cells\rows */
 .mailtier  { background-color: #E8E8E8; foreground-color: #000000; border: 0px solid white; }
 .mailtiec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 1px; padding-bottom: 1px; }

  /* tasks section - table active element cells\rows */
 .taskstaer  { background-color: #ECF3F8; foreground-color: #000000; border: 0px solid white; }
 .taskstaec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 1px; padding-bottom: 1px; }

  /* tasks section - table inactive element cells\rows */
 .taskstier  { background-color: #E8E8E8; foreground-color: #000000; border: 0px solid white; }
 .taskstiec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 1px; padding-bottom: 1px; }


  /* tasks section - table active folder element cells\rows */
 .taskstfaer  { background-color: #ECF3F8; foreground-color: #000000; border: 0px solid white; }
 .taskstfaec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 3px; padding-bottom: 3px; }

  /* tasks section - table inactive folder element cells\rows */
 .taskstfier  { background-color: #E8E8E8; foreground-color: #000000; border: 0px solid white; }
 .taskstfiec  { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 4px; padding-top: 3px; padding-bottom: 3px; }


  /* alignment classes */
  .specificalignment    	{ text-align: left; }

    /* Gantt Stuff */
    
    .ganttfilledinoutofbounds 			{ border-top: 4px solid #FFFFCC; border-bottom: 4px solid #FFFFCC; padding-top: 2px; padding-bottom: 2px; background-color: #333399; height: 10px; }
    .ganttfilledinoverdueoutofbounds 		{ border-top: 4px solid #FFFFCC; border-bottom: 4px solid #FFFFCC; padding-top: 2px; padding-bottom: 2px; background-color: #DD0000; height: 10px; }
    .ganttfilledin 				{ border-top: 4px solid white;; border-bottom: 4px solid white; padding-top: 2px; padding-bottom: 2px; background-color: #333399; height: 10px; }
    .ganttfilledinoverdue 			{ border-top: 4px solid white; border-bottom: 4px solid white; padding-top: 2px; padding-bottom: 2px; background-color: #DD0000; height: 10px; }
    .ganttempty					{ border-left: 1px dotted; background: white; }
    .ganttemptyoutofbounds			{ border-left: 1px dotted; background: #FFFFCC; }
    .gantttoptopline				{ border-bottom: 1px solid black; border-left: 1px solid black; background: #ECE9D8; }
    .gantttopline					{ border-bottom: 1px solid black; border-left: 1px dotted; background: #ECE9D8; }
    .gantttoplineleft				{ padding-left: 5px; padding-right: 5px; border-bottom: 1px solid black; border-left: 1px solid black; background: white; height: 10px; }
    .gantttoplinebottom				{ border-bottom: 1px solid black; border-left: 1px solid black; height: 100%; background: #ECE9D8; }
    .ganttbottom					{ height: 100%; border-left: 1px dotted;  background: white; }
    .ganttbottomoutofbounds			{ height: 100%; border-left: 1px dotted;  background: #FFFFCC; }
    .gantttoplinedate				{ padding-left: 5px; background: #ECE9D8; border-bottom: 1px solid white; border-left: 1px solid white;}
    .ganttbodystyle				{ margin: 0px; background-color: #ECE9D8 }
    .ganttbuttonize				{ background: #D4D4D4; padding-left: 4px; padding-right: 4px; border-top: 1px solid #ECF3F8; border-right: 1px solid #ECF3F8; border-bottom: 1px solid #B4B4B4; border-left: 1px solid #B4B4B4; }

th.sorted {
	background-color: orange;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	/*background-image: url(/aportal/img/arrow_off.png);*/
}

th.order1 a {
	/*background-image: url(/aportal/img/arrow_down.png);*/
}

th.order2 a {
	/*background-image: url(/aportal/img/arrow_up.png);*/
}

.calhtrc   { background-color: #ECF3F8; foreground-color: #000000; border: 0px; border-bottom: 1px solid #646464; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; vertical-align: top; text-align: right; }


/* -------------------------------------------------------------------------------------------------------------------------------------- */
	
/* titr large */
.ttl  { font-family: Titr, Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 16pt; font-weight: bold; color: #4a6071;}
.ttm  { font-family: Titr, Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 12pt; font-weight: bold; color: #4a6071;}

/* login table */
.logtable { background-color: #ECF3F8; border: 1px solid #CCCCCC; font-family: Titr, Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; }
.logtlc { font-size: 10pt; font-weight: Bold; color: #cc0000; vertical-align: middle; text-align: left; padding-left: 3px; padding-top: 3px; padding-bottom: 3px; }
.logtrc { font-size: 10pt; font-weight: Bold; color: #cc0000; vertical-align: middle; text-align: right; padding-right: 3px; padding-top: 3px; padding-bottom: 3px; }
.logeditbox { background-color: #ffffff; border: 1px solid #CCCCCC; font-family: Arial; font-size: 10pt; padding: 3px; width: 120px; }
.logbutton { font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; font-weight: Bold; color: #cc0000; width: 120px; }

/* topbar table */ 
.toptlc { background: url(link_background.gif); text-align: left; padding-right: 0px; }
.toptrc { background: url(link_background.gif); text-align: right; padding-right: 10px; width: 20%; }

/* desktop */
.desktitrlargetc { border-bottom: 1px solid #999999; font-weight: Bold; text-align: right; padding: 4px;}
.desktitrmediumtc { border-bottom: 1px solid #999999; font-weight: Bold; text-align: right; padding: 10px; }
.deskcontenttc { padding: 10px; text-align: justify; margin: 0px 0px; spacing: 0px 0px;}
.deskvsep { border-right: 1px solid #666666;}
.deskhsep { border-top: 1px solid #999999; }

/* header */
/*.hdrlinktr { background: url(/aportal/regadm/style/images/general/linkbar_background.gif); }	*/
.hdrlinktlc{ height: 20px; border-right: 1px solid #E1CFF3; color: white;}
/*.hdrlinktmc { height: 20px; width:80; border-right: 1px solid #E1CFF3; border-left: 1px solid #A70000; cursor: hand; cursor: pointer; padding-right: 5px; padding-left: 5px; font-weight: bold; white-space: nowrap; text-align: center; color: white;} */
/*.hdrlinktrc { height: 20px; width:80; border-left: 1px solid #A70000; cursor: hand; cursor: pointer; padding-right: 5px; padding-left: 5px; font-weight: bold; white-space: nowrap; text-align: center; color: white;} */

 /* title table */
.ttltable { width: 100%; margin-bottom: 10px; padding: 5px;}
.ttltr { foreground-color: #000000;}
.ttltrc { color: #000000; padding-top: 15px; padding-right: 20px; font-size: 12pt;  font-weight: Bold; text-align: right; }
.ttltmc { color: #000000; padding-top: 15px; padding-right: 20px; font-size: 12pt;  font-weight: Bold; text-align: center; }
.ttltlc { color: #000000; padding-top: 15px;  padding-left: 20px; font-size: 12pt;  font-weight: Bold; text-align: left; }
.ttlsubtrc { color: #CE0000; padding-top: 5px; padding-right: 20px; font-size: 12pt;  font-weight: Bold; text-align: right; }

/* search table */
.srhtable { background-color: #ECF3F8; border: 1px solid #CCCCCC; padding: 10px;}
.srhtc { padding: 3px; }
.srhmiddles { vertical-align: middle; }

/* grid table --- */
.gridfulltable { width: 100%; }
.gridtable { width: 100%; border-left: 1px solid #646464; border-right: 1px solid #646464; }
.gridhtr { background: url(toolbars_background.gif); }
.gridhtc { border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 2px; padding-left: 2px; font-weight: bold; text-align: right; color: #CE0000; }
.gridlink { color: #CE0000; }
  A.gridlink:link { text-decoration: none; color: #CE0000; }
  A.gridlink:visited { text-decoration: none; color: #CE0000; }	
  A.gridlink:hover { text-decoration: none; color: BLUE; }  
.gridtr { background-color: #EEF5FC; foreground-color: #000000; border: 0px solid white; }
.gridtrhover { background-color: #FFFFCC; foreground-color: #000000; border: 0px solid white;}
.gridtc { cursor: hand; cursor: pointer; border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 2px; padding-left: 2px; padding-top: 1px; padding-bottom: 1px; }
.gridtic { border-bottom: white 1px solid; border-right: white 1px solid; border-left: white 0px solid; border-top: white 0px solid; padding-right: 2px; padding-left: 2px; padding-top: 1px; padding-bottom: 1px; }
.gridftr { background: url(toolbars_background.gif); }
.gridftrc { border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 2px; padding-left: 2px; font-weight: bold; text-align: right; foreground-color: #000000;  }
.gridftmc { border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 2px; padding-left: 2px; font-weight: bold; text-align: center; foreground-color: #000000;  }
.gridftlc { border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 2px; padding-left: 2px; font-weight: bold; text-align: left; foreground-color: #000000;  }

/* weekly table --- */
/*.weektable { width: 730; border-bottom: 1px solid #646464; border-left: 1px solid #646464; border-right: 1px solid #646464; }*/
.weekhtr { background: url(toolbars_background.gif); text-align: right; }
.weekdayhtc { color: #CE0000; border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 3px; font-weight: bold; text-align: right; width: 34px; height: 15px;}
.weekhtc { color: #CE0000; border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; padding-right: 0px; font-weight: bold; text-align: right; width: 29px; height: 15px;}
.weektr { background-color: #ECF3F8; foreground-color: #000000; }
.weekdaytc { background-color: #ECF3F8; foreground-color: #CE0000; vertical-align: middle; padding-right: 2px; padding-top: 2px; padding-bottom: 2px;  border-bottom: #C8C8C8 1px dotted; border-right: 0px; border-left: 1px solid #646464; border-top: #C8C8C8 0px solid;}
.weektc { background-color: #ECF3F8; foreground-color: #000000; vertical-align: top; padding-right: 2px; padding-top: 2px; padding-bottom: 2px;  border-bottom: #C8C8C8 1px dotted; border-right: #C8C8C8 1px dotted; border-left: #C8C8C8 0px solid; border-top: #C8C8C8 0px solid;}
.weekboxoverlaptc { background-color: #FF8888; foreground-color: #000000; vertical-align: top; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; border: 2px outset white;}
.weekboxnormaltc { background-color: #FFFFDD; foreground-color: #000000; vertical-align: top; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; border: 2px outset white;}

/* form table */
.frmtable { width: 100%; border-bottom: 1px solid #646464; }
.frmhtr { background: url(toolbars_background.gif); color: #CE0000; }
.frmhtc { text-align: left; padding-left: 40px; border-bottom: 1px solid #646464; border-top: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; font-weight: bold; }
.frmtr { background-color: #ECF3F8; foreground-color: #000000; }
.frmtc { text-align: right; height: 15px; }
.frmtoptlc { text-align: left; padding-right: 2px; padding-left: 2px; width: 100px; vertical-align: top; }
.frmtlc { text-align: left; padding-right: 2px; padding-left: 2px; width: 100px;}
.frmtmc { text-align: center; padding-right: 2px; padding-left: 2px; }
.frmtrc { text-align: right; padding-right: 2px; padding-left: 2px; height: 15px; }
.frmdivtr { background-color: #ECF3F8; foreground-color: #000000; spacing: 0px; padding: 0px; margin: 0px; border: 0px; height: 14px;}
.frmdivtc { text-align: right; height: 14px; }
.frmftr { text-align: center; padding-left: 40px; border-bottom: 1px solid #646464; border-top: 1px solid #646464; padding-top: 1px; padding-bottom: 1px; font-weight: bold; }
 /* footertable */
.ftrtable { width: 100%; }
.ftrtr { foreground-color: #000000; }
.ftrtlc { foreground-color: #000000; padding-top: 12px; padding-right: 20px; font-size: 10pt; text-align: right; vertical-align: top; }
.ftrtrc { foreground-color: #000000; padding-top: 12px; padding-left: 20px; font-size: 10pt; text-align: left; vertical-align: top;}

/* filter */	
.filtable { border-right: #646464 1px solid; border-top: #646464 1px solid; border-left: #646464 1px solid; border-bottom: #646464 1px solid; width: 200px; height: 105px; }
.filhtr { background: url(toolbars_background.gif); foreground-color: #000000; }
/*.filhtlc { border-bottom: 1px solid #646464; text-align: left; padding-left: 3px; width: 50; foreground-color: #000000; }*/
/*.filhtrc { border-bottom: 1px solid #646464; text-align: right; padding-right: 3px; width: 150; foreground-color: #000000; }*/
.fillink { color: #CE0000; }
  A.fillink:link { text-decoration: none; color: #CE0000; }
  A.fillink:visited { text-decoration: none; color: #CE0000; }	
  A.fillink:hover { text-decoration: none; color: BLUE; }  
.filtc { text-align: right; padding-right: 3px; padding-left: 3px; padding-top: 1px; height: 15px; }
.filtlc { text-align: left; padding-left: 3px; padding-top: 5px; height: 15px; width: 20px;}
.filtrc { text-align: right; padding-right: 3px; padding-top: 5px; height: 15px; width: 180px;}
.fildiv { height: 75px; width: 100%; overflow: auto; }

/* input/text */
/*.tinytinyeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 25px; height: 22px;}*/
/*.tiniereditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 40px; height: 22px;}*/
/*.tinyeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 60px; height: 22px;}*/
/*.smallereditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 70px; height: 22px;}*/
/*.smalleditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 100px; height: 22px;}*/
/*.mediumsmalleditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 130px; height: 22px;}*/
/*.mediumeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 170px; height: 22px;}*/
/*.stdeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 200px; height: 22px;}*/
/*.largeeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 300px; height: 22px;}*/
/*.vlargeeditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 500px; height: 22px;}*/
/*.filtereditbox { background-image: url(/aportal/regadm/style/images/general/shadow_textbox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 130px; height: 22px;}*/

/* input/textarea */ 
/*.stdtextareathinshort { background-image: url(/aportal/regadm/style/images/general/shadow_notebox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 350px; height: 22px;}*/
/*.stdtextareathin { background-image: url(/aportal/regadm/style/images/general/shadow_notebox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 588px; height: 22px;}*/
/*.stdtextarea { background-image: url(/aportal/regadm/style/images/general/shadow_notebox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 588px; height: 44px;}*/
/*.mediumlargetextarea { background-image: url(/aportal/regadm/style/images/general/shadow_notebox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 588px; height: 88px;}*/
/*.largetextarea { background-image: url(/aportal/regadm/style/images/general/shadow_notebox-yellow.gif); background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; border: 1px solid #BDBEC0; padding: 3px; width: 588px; height: 132px;}*/

/* input/checkbox */
.stdcheckbox { padding: 0px; spacing: 0px; margin: 1px; border: 0px; width: 18px; height: 18px;}

/* input/button */
.stdbutton { background-color: #ECF3F8; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 10pt; height: 25px; padding-right: 5px; padding-left: 5px; }

/* select */
.semselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 80px; height: 22px; }
.tinyselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 60px; height: 22px; }
.smallselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 100px; height: 22px; }
.stdsmallselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 130px; height: 22px; }
.stdselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 200px; height: 22px; }
.largeselectbox { background-color: #F7F4CC; font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial; font-size: 9pt; border: 1px solid #BDBEC0; padding: 1px; width: 300px; height: 22px; }

.toer { background-color: #F8F8F8; foreground-color: #000000; border: 0px solid white; padding: 0px; spacing: 0px; margin: 0px; }
.toec { border-bottom: red 1px solid; border-right: red 1px solid; border-left: red 0px solid; border-top: red 0px solid; margin: 0px; padding-bottom: 8px; padding-right: 0px; padding-left: 0px; padding-top: 8px; spacing: 0px; vertical-align: middle; }
